marcap-1995.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2008.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2014.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2021.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-1996.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2002.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2016.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2020.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2010.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2012.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2013.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2001.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2009.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2018.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2019.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2006.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-1998.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-1999.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2000.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2005.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2015.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-1997.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2003.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2004.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2007.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2017.csv.gz filter=lfs diff=lfs merge=lfs -text
marcap-2011.csv.gz filter=lfs diff=lfs merge=lfs -text
